In [3]:
import pandas as pd

from autorec_ai.utils.config import METADATA_PATH

In [6]:
df = pd.read_csv(f'../data/car_metadata/metadata.csv')
df.head()

,make,model,year,mpg_city,mpg_highway,horsepower,torque,weight,length,width,height,wheelbase,driver_type,num_doors,body_style
0,Ford,Flex,2010,39.0,19.0,260.0,35.0,6.0,75.0,68.0,201.0,16.0,AWD,7,4
1,Chevrolet,Suburban,2011,41.0,17.0,320.0,53.0,8.0,79.0,76.0,NaN,15.0,RWD,9,4
2,Nissan,Maxima,2011,31.0,18.0,290.0,35.0,6.0,73.0,57.0,190.0,19.0,FWD,5,4
3,Chevrolet,Silverado 1500,2014,45.0,20.0,350.0,53.0,8.0,80.0,74.0,NaN,16.0,RWD,5,4
4,Dodge,Durango,2019,45.0,20.0,290.0,36.0,6.0,75.0,70.0,201.0,18.0,AWD,6,4